opencti:
  url: 'http://localhost:8080'
  token: 'ChangeMe'

connector:
  id: 'ChangeMe'
  type: 'EXTERNAL_IMPORT'
  name: 'TheHive'
  scope: 'thehive'
  confidence_level: 80 # From 0 (Unknown) to 100 (Fully trusted)
  log_level: 'info'

thehive:
  url: 'http://192.168.214.117:9000'
  api_key: '6AEBRPuArKAjKqud+ruAUa1hX+i/+nvh'
  check_ssl: False
  import_from_date: '2022-02-04T00:00:00' # Optional