opencti:
  url: 'http://10.21.6.34:8080'
  token: 'ad374cdd-a918-4a61-bd79-73acdd28830b'

connector:
  id: 'e9c541e4-e405-4977-b93a-59a25f45e1d2'
  type: 'EXTERNAL_IMPORT'
  name: 'TorExitNode'
  scope: 'TorExit-Addresses'
  confidence_level: 100 # From 0 (Unknown) to 100 (Fully trusted)
  log_level: 'info'

tor:
  exit_node_url: 'https://check.torproject.org/exit-addresses'
  labels: 'TorExitNode'
  interval: 2 # In days, must be strictly greater than 1
