opencti:
  url: 'http://localhost'
  token: 'ChangeMe'
  
connector:
  id: 'ChangeMe'
  type: 'EXTERNAL_IMPORT'
  name: 'Talos IP blacklist'
  scope: ipv4-addr,domain
  confidence_level: 3
  log_level: 'info'
  log_level: 'info'

tor:
  exit_node_url: 'https://check.torproject.org/exit-addresses'
  labels: 'TorExitNode'
  interval: 2 # In days, must be strictly greater than 1
